svg(width='276.67', height='316.19', version='1.1', viewbox='0 0 73.203 83.659', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    lineargradient#linearGradient4744(x1='60.734', x2='94.549', y1='37.282', y2='37.282', gradienttransform='translate(-24.911 -19.256)', gradientunits='userSpaceOnUse')
      stop(stop-color='#12c2e9', offset='0')
      stop(stop-color='#c471ed', stop-opacity='.9949', offset='.47368')
      stop(stop-color='#f64f59', offset='1')
    lineargradient#linearGradient4754(x1='28.921', x2='68.743', y1='55.079', y2='55.079', gradienttransform='translate(-24.911 -19.256)', gradientunits='userSpaceOnUse')
      stop(stop-color='#40e0d0', offset='0')
      stop(stop-color='#ff8c00', offset='.51397')
      stop(stop-color='#f64f59', offset='1')
    lineargradient#linearGradient4764(x1='53.17', x2='90.767', y1='64.201', y2='64.201', gradienttransform='translate(-24.911 -19.256)', gradientunits='userSpaceOnUse')
      stop(stop-color='#fffbd5', offset='0')
      stop(stop-color='#b20a2c', offset='1')
    lineargradient#linearGradient4772(x1='39.822', x2='67.631', y1='82.666', y2='82.666', gradienttransform='translate(-86.87 -146.16)', gradientunits='userSpaceOnUse')
      stop(stop-color='#03001e', offset='0')
      stop(stop-color='#7303c0', offset='.304')
      stop(stop-color='#ec38bc', offset='.712')
      stop(stop-color='#fdeff9', offset='1')
    lineargradient#linearGradient4842(x1='25.361', x2='39.599', y1='95.346', y2='95.346', gradienttransform='translate(-24.911 -19.256)', gradientunits='userSpaceOnUse')
      stop(stop-color='#e1eec3', offset='0')
      stop(stop-color='#f05053', stop-opacity='.96429', offset='1')
  g(stroke='#5a95eb')
    circle(transform='rotate(180)', cx='-32.032', cy='-62.938', r='14.907', fill='url(#linearGradient4772)', stroke-dasharray='0.8056709, 0.26855697', stroke-width='.0082021')
    circle(cx='23.921', cy='35.934', r='20.578', fill='url(#linearGradient4754)', stroke-dasharray='1.09499999, 0.365', stroke-width='.011148')
    circle(cx='47.058', cy='45.056', r='19.355', fill='url(#linearGradient4764)', stroke-dasharray='1.02990952, 0.34330317', stroke-width='.010485')
    circle(cx='7.9032', cy='75.756', r='7.9011', fill='url(#linearGradient4842)', stroke-dasharray='0.42042598, 0.14014199', stroke-width='.0042801')
    circle(cx='53.732', cy='19.472', r='19.466', fill='url(#linearGradient4744)', stroke-dasharray='1.03582686, 0.34527562', stroke-width='.010545')
.container
  form(action="")
    h2 Login
    input.email(type="text" placeholder="login")
    input.pas(type="text" placeholder="password")
  a.link(href="") Forgot Your password?
  button
    span Register
  button
    span sign in
  .sig
  h3 Your registration is complete!